body{background-color: lightgoldenrodyellow
}
h1{
		font-size: 30px;
		color: RED;
	}
h2{
color: blue;
font-size: 20px;
}
.big{
font-size: 60px;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
color:#FFFF8F;
}

h1span{
color: gold;
}
